type hwnff_exec, exec_type, file_type;
type hwnffserver_exec, exec_type, file_type;
type mapper_exec, exec_type, file_type;
type limit_current_exec, exec_type, file_type;
type thermal-daemon_exec, exec_type, file_type;
type wifiwakeupsrc_exec, exec_type, file_type;
type mac_addr_normalization_exec, exec_type, file_type;
type powerlogd_exec, exec_type, file_type;
type hiscoutmanager_exec, exec_type, file_type;
type hwcamcfgsvr_exec, exec_type, file_type;
type gpsdaemon_exec, exec_type, file_type;
type diagserver_exec, exec_type, file_type;
type logserver_exec, exec_type, file_type;
type atcmdserver_exec, exec_type, file_type;
type himreg_exec, exec_type, file_type;
