# hwcamcfgsvr
#
type hwcamcfgsvr, domain;
type hwcamcfgsvr_exec, exec_type, file_type;

init_daemon_domain(hwcamcfgsvr)

allow hwcamcfgsvr video_device:chr_file rw_file_perms;
allow hwcamcfgsvr sysfs_wake_lock:file rw_file_perms;
allow hwcamcfgsvr servicemanager:binder { call transfer };
allow hwcamcfgsvr mediaserver:binder { transfer };
allow hwcamcfgsvr mediaserver:fd { use };
