allow kernel device:dir { read write add_name create setattr getattr };
allow kernel device:blk_file create_file_perms;
allow kernel self:capability mknod;
allow kernel self:capability dac_override;
allow kernel unlabeled:file create_file_perms;
allow kernel unlabeled:chr_file create_file_perms;
