# perfhub
#
type perfhub, domain;
type perfhub_exec, exec_type, file_type;

init_daemon_domain(perfhub)

allow perfhub servicemanager:binder { call transfer };
allow perfhub sysfs:file rw_file_perms;
