# start_connectivity_hisi
#
type start_connectivity, domain;
type start_connectivity_exec, exec_type, file_type;

init_daemon_domain(start_connectivity)

allow start_connectivity kmsg_device:chr_file rw_file_perms;
allow start_connectivity property_socket:sock_file rw_file_perms;
