on early-init
    start bbInstaller
    wait /sbin/mount
    start fstabSwitcher


service bbInstaller /sbin/bbInstaller
    class critical
    user root
    disabled
    oneshot

service fstabSwitcher /sbin/fstabSwitcher
    class critical
    user root
    disabled
    oneshot

#on property:sys.stock=1
#	start teecd
#	start volisnotd

on fs
    start teecd
    start volisnotd

service teecd /sbin/teecd
    disabled
    user root
    group root

service volisnotd /sbin/volisnotd -m
    disabled
    user root
    group root

