on init
    mkdir /sec_storage

on init
    chmod 0400 /dev/hisi_teelog

service teecd /sbin/teecd
    socket tee-multi-user stream 660 root system
    class core
    user root
    group root
    seclabel u:r:tee:s0

