# Offline Charging.
#
on early-init
    start ueventd

on init 
    write /sys/devices/virtual/graphics/fb0/mode "U:1080x1920p-0"
    start charger

service charger /sbin/healthd -c
   class default
   user root
   group root 

service ueventd /sbin/ueventd
    class core
    critical
    seclabel u:r:ueventd:s0
